<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改简历</title>
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/myInfo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/swiper-3.4.2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
    <script type="text/javascript" th:src="@{/project/js/swiper-3.4.2.min.js}"></script>
</head>
<body>
<div th:replace="public/head :: head"></div>
<div class="container-fluid">
    <div style="margin-left: 17%">
        <blockquote class="layui-elem-quote layui-text" style="width: 1080px;border-radius: 5px">
            修改简历
        </blockquote>
        <form class="layui-form" action="">
            <div class="mcontainer">
                <!--编辑个人资料-->
                <div>
                    <div class="edit-profile">修改个人资料</div>
                    <!--姓名 性别 生日-->
                    <div class="layui-form-item" style="padding-left: 60px;padding-top: 30px">
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" id="username" lay-verify="" placeholder="请输入你的姓名"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="gender" value="男" title="男" checked="">
                                <input type="radio" name="gender" value="女" title="女">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" name="birthday" id="birthday" lay-verify="date"
                                       placeholder="生日"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <!-- 联系方式 所在城市-->
                    <div class="layui-form-item" style="padding-left: 60px;padding-top: 30px">
                        <div class="layui-inline">
                            <label class="layui-form-label">电话</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" id="phone" lay-verify="" placeholder="请输入你的电话"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">身份</label>
                            <div class="layui-input-block">
                                <input type="radio" name="identitys" value="学生" title="学生" checked="">
                                <input type="radio" name="identitys" value="非学生" title="非学生">
                            </div>
                        </div>
                    </div>
                </div>

                <!--个人优势-->
                <div style="margin-top: 35px">
                    <div class="edit-profile">个人优势</div>
                    <textarea class="edit-area" name="personaladvantage" id="personaladvantage"></textarea>
                </div>
                <!--求职意向-->
                <div style="margin-top: 35px">
                    <div class="edit-profile">求职意向</div>
                    <div class="row" style="margin-left:45px;margin-top: 30px">
                        <div class="col-md-5">
                            <span class="grey-font">期待职位</span>
                            <span>
                            <input type="text" class="looking-forward-to-the-position"
                                   id="position" placeholder="请输入期待职位" name="position">
                        </span>
                        </div>
                        <div class="col-md-5">
                            <span class="grey-font">期待城市</span>
                            <span> <input type="text" class="looking-forward-to-the-position"
                                          placeholder="请输入期待城市" name="city" id="city"></span>

                        </div>
                    </div>
                    <div class="grey-font" style="margin-left: 60px;padding-top: 30px">期待薪资</div>
                    <div class="row" style="margin-left:45px;margin-top: 30px">
                        <div class="col-md-4">
                            <span><select name="startingSalaryFrom" id="startingSalaryFrom">
                            <option value=""></option>
                            <option value="1k">1k</option>
                            <option value="2k">2k</option>
                            <option value="3k">3k</option>
                            <option value="4k">4k</option>
                            <option value="5k">5k</option>
                            <option value="6k">6k</option>
                            <option value="7k">7k</option>
                            <option value="8k">8k</option>
                            <option value="9k">9k</option>
                            <option value="10k">10k</option>
                        </select></span>
                        </div>
                        <div class="col-md-1" style="display: flex;justify-content: center;align-items: center"><span class="grey-font" >--</span></div>
                        <div class="col-md-4">
                            <select name="startingSalaryTo" id="startingSalaryTo">
                                <option value=""></option>
                                <option value="11k">11k</option>
                                <option value="12k">12k</option>
                                <option value="13k">13k</option>
                                <option value="14k">14k</option>
                                <option value="15k">15k</option>
                                <option value="16k">16k</option>
                                <option value="17k">17k</option>
                                <option value="18k">18k</option>
                                <option value="19k">19k</option>
                                <option value="20k">20k</option>
                                <option value="21k">21k</option>
                                <option value="22k">22k</option>
                                <option value="23k">23k</option>
                                <option value="24k">24k</option>
                                <option value="25k">25k</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--教育经历-->
                <div style="margin-top: 35px">
                    <div class="edit-profile">教育经历</div>
                    <div class="row" style="margin-left:45px;margin-top: 30px">
                        <div class="col-md-4">
                            <span class="grey-font">学校名称</span>
                            <span>
                            <input type="text" value="" class="looking-forward-to-the-position" id="schoolname"
                                   placeholder="请输入学校名称" name="schoolname">
                        </span>
                        </div>
                        <div class="col-md-4">
                            <span class="grey-font">专业名称</span>
                            <span> <input type="text" class="looking-forward-to-the-position"
                                          placeholder="请输入专业名称" name="professionalTitle" id="professionalTitle"></span>
                        </div>
                        <div class="col-md-4">
                            <span class="grey-font">学历</span>
                            <div style="margin-top: 15px">
                            <span>
                                <select name="education" id="education">
                                    <option value=""></option>
                                     <option value="大专">大专</option>
                                     <option value="本科">本科</option>
                                     <option value="硕士">硕士</option>
                                     <option value="博士">博士</option>
                                     <option value="其他">其他</option>
                                </select>
                            </span>
                            </div>
                        </div>
                        <div style="margin-top: 15px" class="col-md-4">
                            <span class="grey-font">毕业时间</span>
                            <div>
                                <input type="text" class="looking-forward-to-the-position"
                                       placeholder="请输入毕业时间" name="graduationTime" id="graduationTime">
                            </div>
                        </div>
                    </div>
                </div>
                <!--工作经历-->
                <div style="margin-top: 35px">
                    <div class="edit-profile">工作经历</div>
                    <div style="margin-left:60px;margin-top: 30px">
                        <div class="row">
                            <div class="col-md-5">
                                <span class="grey-font">公司名称</span>
                                <input type="text" class="looking-forward-to-the-position" placeholder="请输入公司名称 "
                                       name="companyname" id="companyname">
                            </div>
                            <div class="col-md-5">
                                <span class="grey-font">公司行业</span>
                                <input type="text" class="looking-forward-to-the-position" placeholder="请输入公司行业"
                                       name="companyIndustry" id="companyIndustry">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-md-5">
                                <span class="grey-font">所属部门</span>
                                <input type="text" class="looking-forward-to-the-position" placeholder="请输入所属部门"
                                       name="department" id="department">
                            </div>
                            <div class="col-md-5">
                                <span class="grey-font">职位类别</span>
                                <input type="text" class="looking-forward-to-the-position" placeholder="如：部门经理"
                                       name="tybeOfJob" id="tybeOfJob">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-md-5">
                                <span class="grey-font">职位名称</span>
                                <input type="text" class="looking-forward-to-the-position" placeholder="请输入职位名称"
                                       name="positionName" id="positionName">
                            </div>
                            <div class="col-md-5">
                                <span class="grey-font">工作时间</span>
                                <input type="text" class="looking-forward-to-the-position" placeholder="如：三年以上"
                                       name="operatingHours" id="operatingHours">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-upload" style=" margin-top: 35px;">
                    <div class="edit-profile">附件简历</div>
                    <input type="text" class="layui-hide" id="resumePath" name="resumePath"/>
                    <input type="text" class="layui-hide" id="userid" name="userid"/>
                    <form method="post" id="sourceupload">
                        <div class="text-center">
                            <button type="button" class="layui-btn layui-btn-normal" id="choose">附件简历</button>
                        </div>
                    </form>
                </div>
                <div class="row" style="padding-top: 30px">
                    <div class="col-md-12 text-center">
                 <span>
                    <button class="confirm-btn" lay-submit="" lay-filter="demo1">修改</button>
                    <button type="reset" class="cancel-btn">取消</button>
                 </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div th:replace="public/bottom :: bottom"></div>

<script>
</script>

<script type="text/javascript" th:src="@{/component/jquery3.5.1/jquery.min.js}"></script>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/component/bootstrap4.5.2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/component/login.js}"></script>

<script>

    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        upload.render({
            elem: '#choose'
            , url: '/document/upload' //上传接口
            , data: {
                id: function () {
                    return $('#id').val();
                }
            }
            , auto: true
            , accept: 'file'
            , size: 307200
            , method: 'POST'
            , done: function (res) {
                layer.msg('上传成功');
                $("#resumePath").val(res.filepath)
                console.log(res)
                console.log(res.filepath)
            }
        });
    });

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            util = layui.util;

        //日期
        laydate.render({
            elem: '#birthday'
        });
        laydate.render({
            elem: '#graduationTime'
        });

        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '不允许为空';
                }
            },

            required: function (value) {
                if (value.length < 1) {
                    return '不允许为空';
                }
            }
        });
        window.onload = function () {
            var id = sessionStorage.getItem("userid");
            $("#userid").val(id)
            console.log(id)
            if (id != null) {
                $.ajax({
                    url: 'http://localhost:18011/myInfo/selectInfo',
                    type: 'get',
                    contentType: 'application/json; charset=UTF-8',
                    data: {'userid': id},
                    async: false,
                    success: function (res) {
                        console.log(res)
                        $("#username").val(res.data.username)
                        $("input[name=gender][value=男]").attr("checked", res.data.gender === '男' ? true : false)
                        $("input[name=gender][value=女]").attr("checked", res.data.gender === '女' ? true : false)
                        $("#birthday").val(util.toDateString(res.data.birthday,'yyyy-MM-dd'))
                        $("#phone").val(res.data.phone)
                        $("input[name=identitys][value=学生]").attr("checked", res.data.identitys === '学生' ? true : false)
                        $("input[name=identitys][value=非学生]").attr("checked", res.data.identitys === '非学生' ? true : false)
                        $("#personaladvantage").val(res.data.personaladvantage)
                        $("#position").val(res.data.position)
                        $("#city").val(res.data.city)
                        $("#startingSalaryFrom").val(res.data.startingSalaryFrom)
                        $("#startingSalaryTo").val(res.data.startingSalaryTo)
                        $("#schoolname").val(res.data.schoolname)
                        $("#professionalTitle").val(res.data.professionalTitle)
                        $("#education").val(res.data.education)
                        $("#graduationTime").val(util.toDateString(res.data.graduationTime,'yyyy-MM-dd'))
                        $("#companyname").val(res.data.companyname)
                        $("#companyIndustry").val(res.data.companyIndustry)
                        $("#department").val(res.data.department)
                        $("#tybeOfJob").val(res.data.tybeOfJob)
                        $("#operatingHours").val(res.data.operatingHours)
                        $("#positionName").val(res.data.positionName)
                        form.render();

                    }
                })
            } else {
                layer.msg("加载信息失败，请重新登录！！！")
            }

        }
        //监听提交
        form.on('submit(demo1)', function (data) {
            var id = sessionStorage.getItem("userid");
            if (id != null) {
                const user = JSON.stringify(data.field)
                $.ajax({
                        url: 'http://localhost:18011/myInfo/updataInfo',
                        type: 'post',
                        contentType: 'application/json; charset=UTF-8',
                        data: user,
                        async: false,
                        success: function (res) {
                            console.log(res)
                            if (res.status === 0) {
                                layer.msg('添加成功', {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function () {

                                });
                                window.location.href = "http://localhost:18011/index"
                            } else {
                                layer.msg("添加失败")
                            }
                        }
                    }
                )
            } else {
                layer.alert('添加失败，请重新登录！！', {
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function () {
                    window.location = "http://localhost:18011/index"
                });
            }
        });
    });
</script>

</body>
</html>