<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/swiper-3.4.2.min.css}">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
    <script type="text/javascript" th:src="@{/project/js/swiper-3.4.2.min.js}"></script>
</head>
<body>
<div th:replace="public/head :: head"></div>

<div class="container-fluid">

    <!--搜索框-->
    <div class="row">
        <div class="search-wrapper col-md-12">
            <div class="search-box">
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="搜索职位、公司或地点" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">搜 索</span>
                </div>
            </div>
        </div>
    </div>

    <!--职位菜单-->
    <div class="row">
        <div class="menu offset-md-1 col-md-3">
            <div class="menu_1" id="m1" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv1','m1')"
                 onmouseout="mOut('showdiv1','m1')">
                <div class="menu_1_text1">技术</div>
                <div class="menu_1_text2">Java</div>
                <div class="menu_1_text2">PHP</div>
                <div class="menu_1_text2">C++</div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv1">
                    <div class="showdiv_head">后端开发</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">Java</div>
                        <div class="showdiv_content_text">C++</div>
                        <div class="showdiv_content_text">PHP</div>
                        <div class="showdiv_content_text">数据挖掘</div>
                        <div class="showdiv_content_text">搜索算法</div>
                        <div class="showdiv_content_text">C</div>
                        <div class="showdiv_content_text">C#</div>
                        <div class="showdiv_content_text">全栈工程师</div>
                        <div class="showdiv_content_text">后端开发及其他</div>
                    </div>
                    <div class="showdiv_head">前端开发</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">web前端</div>
                        <div class="showdiv_content_text">html5</div>
                        <div class="showdiv_content_text">JavaScript</div>
                        <div class="showdiv_content_text"></div>
                        <div class="showdiv_content_text">前端开发及其他</div>
                    </div>
                    <div class="showdiv_head">移动开发</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">HTML5</div>
                        <div class="showdiv_content_text">Android</div>
                        <div class="showdiv_content_text">iOS</div>
                        <div class="showdiv_content_text">WP</div>
                        <div class="showdiv_content_text">移动开发及其他</div>
                    </div>
                    <div class="showdiv_head">测试</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">测试工程师</div>
                        <div class="showdiv_content_text">功能测试</div>
                        <div class="showdiv_content_text">性能测试</div>
                        <div class="showdiv_content_text">测试开发</div>
                        <div class="showdiv_content_text">游戏测试</div>
                        <div class="showdiv_content_text">白盒测试</div>
                        <div class="showdiv_content_text">黑盒测试</div>
                        <div class="showdiv_content_text">白盒测试</div>
                        <div class="showdiv_content_text">测试及其他</div>
                    </div>
                    <div class="showdiv_head">运维</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">运维工程师</div>
                        <div class="showdiv_content_text">运维开发工程师</div>
                        <div class="showdiv_content_text">网络工程师</div>
                        <div class="showdiv_content_text">IT支持</div>
                        <div class="showdiv_content_text">运维及其他</div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m2" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv2','m2')"
                 onmouseout="mOut('showdiv2','m2')">
                <div class="menu_1_text1">产品</div>
                <div class="menu_1_text2">产品总监</div>
                <div class="menu_1_text2">产品经理</div>
                <div class="menu_1_text2">高端职位</div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv2">
                    <div class="showdiv_head">产品经理</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">产品经理</div>
                        <div class="showdiv_content_text">网页产品经理</div>
                        <div class="showdiv_content_text">移动产品经理</div>
                        <div class="showdiv_content_text">产品助理</div>
                        <div class="showdiv_content_text">电商产品经理</div>
                        <div class="showdiv_content_text">数据产品经理</div>
                        <div class="showdiv_content_text">产品实习生</div>
                        <div class="showdiv_content_text">游戏策划</div>
                    </div>
                    <div class="showdiv_head">产品设计师</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">网页产品设计师</div>
                        <div class="showdiv_content_text">无线产品设计师</div>
                    </div>
                    <div class="showdiv_head">高端职位</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">产品部经理</div>
                        <div class="showdiv_content_text">产品总监</div>
                        <div class="showdiv_content_text">游戏制作人</div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m3" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv3','m3')"
                 onmouseout="mOut('showdiv3','m3')">
                <div class="menu_1_text1">设计</div>
                <div class="menu_1_text2">UI设计师</div>
                <div class="menu_1_text2">交互设计</div>
                <div class="menu_1_text2">用户研究</div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv3">
                    <div class="showdiv_head">视觉设计</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">视觉设计师</div>
                        <div class="showdiv_content_text">网页设计师</div>
                        <div class="showdiv_content_text">APP设计师</div>
                        <div class="showdiv_content_text">UI设计师</div>
                        <div class="showdiv_content_text">美术设计师</div>
                        <div class="showdiv_content_text">广告设计师</div>
                        <div class="showdiv_content_text">多媒体设计师</div>
                        <div class="showdiv_content_text">游戏界面设计师</div>
                        <div class="showdiv_content_text">游戏特效</div>
                        <div class="showdiv_content_text">原画师</div>
                    </div>
                    <div class="showdiv_head">交互设计</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">交互设计师</div>
                        <div class="showdiv_content_text">无线交互设计师</div>
                        <div class="showdiv_content_text">网页交互设计师</div>
                        <div class="showdiv_content_text">硬件交互设计师</div>
                    </div>
                    <div class="showdiv_head">用户研究</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">数据分析师</div>
                        <div class="showdiv_content_text">用户研究员</div>
                        <div class="showdiv_content_text">游戏数值策划</div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m4" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv4','m4')"
                 onmouseout="mOut('showdiv4','m4')">
                <div class="menu_1_text1">运营</div>
                <div class="menu_1_text2">媒体运营</div>
                <div class="menu_1_text2">客服</div>
                <div class="menu_1_text2">编辑</div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv4">
                    <div class="showdiv_head">运营</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">用户运营</div>
                        <div class="showdiv_content_text">产品运营</div>
                        <div class="showdiv_content_text">数据运营</div>
                        <div class="showdiv_content_text">内容运营</div>
                        <div class="showdiv_content_text">活动运营</div>
                        <div class="showdiv_content_text">商家运营</div>
                        <div class="showdiv_content_text">游戏运营</div>
                        <div class="showdiv_content_text">新媒体运营</div>
                    </div>
                    <div class="showdiv_head">编辑</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">副主编</div>
                        <div class="showdiv_content_text">内容编辑</div>
                        <div class="showdiv_content_text">文案策划</div>
                        <div class="showdiv_content_text">记者</div>
                    </div>
                    <div class="showdiv_head">客服</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">售前客服</div>
                        <div class="showdiv_content_text">售后客服</div>
                        <div class="showdiv_content_text">客服经理</div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m5" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv5','m5')"
                 onmouseout="mOut('showdiv5','m5')">
                <div class="menu_1_text1">市场</div>
                <div class="menu_1_text2">市场营销</div>
                <div class="menu_1_text2">市场推广</div>
                <div class="menu_1_text2">市场评估</div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv5">
                    <div class="showdiv_head">市场/营销</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">市场营销</div>
                        <div class="showdiv_content_text">市场策划</div>
                        <div class="showdiv_content_text">市场顾问</div>
                        <div class="showdiv_content_text">商务渠道</div>
                        <div class="showdiv_content_text">活动策划</div>
                        <div class="showdiv_content_text">海外市场</div>
                    </div>
                    <div class="showdiv_head">媒体/公关</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">政府关系</div>
                        <div class="showdiv_content_text">品牌公关</div>
                        <div class="showdiv_content_text">广告协调</div>
                        <div class="showdiv_content_text">媒介投放</div>
                        <div class="showdiv_content_text">媒介合作</div>
                    </div>
                    <div class="showdiv_head">品牌/广告</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">广告创意</div>
                        <div class="showdiv_content_text">广告制作</div>
                        <div class="showdiv_content_text">广告文案</div>
                        <div class="showdiv_content_text">广告投放</div>
                        <div class="showdiv_content_text">品牌合作</div>
                        <div class="showdiv_content_text">品牌策划</div>
                        <div class="showdiv_content_text">品牌专员</div>
                        <div class="showdiv_content_text">美术指导</div>
                        <div class="showdiv_content_text">品牌合作</div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m6" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv6','m6')"
                 onmouseout="mOut('showdiv6','m6')">
                <div class="menu_1_text1">职能</div>
                <div class="menu_1_text2">HR</div>
                <div class="menu_1_text2">行政</div>
                <div class="menu_1_text2">财务</div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv6">
                    <div class="showdiv_head">人力资源</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">人力资源</div>
                        <div class="showdiv_content_text">招聘</div>
                        <div class="showdiv_content_text">HRBP</div>
                        <div class="showdiv_content_text">人事/HR</div>
                        <div class="showdiv_content_text">培训经理</div>
                        <div class="showdiv_content_text">薪资福利经理</div>
                    </div>
                    <div class="showdiv_head">行政</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">助理</div>
                        <div class="showdiv_content_text">前台</div>
                        <div class="showdiv_content_text">行政</div>
                        <div class="showdiv_content_text">文秘</div>
                    </div>
                    <div class="showdiv_head">财务</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">会计</div>
                        <div class="showdiv_content_text">出纳</div>
                        <div class="showdiv_content_text">财务</div>
                        <div class="showdiv_content_text">结算</div>
                        <div class="showdiv_content_text">税务</div>
                        <div class="showdiv_content_text">审计</div>
                        <div class="showdiv_content_text">风控</div>
                    </div>
                    <div class="showdiv_head">法务</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">法务</div>
                        <div class="showdiv_content_text">律师</div>
                        <div class="showdiv_content_text">专利</div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m7" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv7','m7')"
                 onmouseout="mOut('showdiv7','m7')">
                <div class="menu_1_text1">游戏</div>
                <div class="menu_1_text2">游戏开发</div>
                <div class="menu_1_text2">游戏策划</div>
                <div class="menu_1_text2">游戏体验官</div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv7">
                    <div class="showdiv_head">技术开发</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">H5游戏开发</div>
                        <div class="showdiv_content_text">小游戏开发</div>
                        <div class="showdiv_content_text">游戏后端开发</div>
                        <div class="showdiv_content_text">C++游戏开发</div>
                        <div class="showdiv_content_text">U3D</div>
                        <div class="showdiv_content_text">游戏测试</div>
                    </div>
                    <div class="showdiv_head">产品策划</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">游戏制作人</div>
                        <div class="showdiv_content_text">游戏产品经理</div>
                        <div class="showdiv_content_text">游戏文案</div>
                        <div class="showdiv_content_text">剧情设计</div>
                        <div class="showdiv_content_text">游戏项目经理</div>
                    </div>
                    <div class="showdiv_head">设计</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">游戏动画</div>
                        <div class="showdiv_content_text">游戏原画</div>
                        <div class="showdiv_content_text">游戏界面</div>
                        <div class="showdiv_content_text">游戏场景</div>
                        <div class="showdiv_content_text">游戏角色</div>
                        <div class="showdiv_content_text">游戏动作</div>
                        <div class="showdiv_content_text">游戏美工</div>
                        <div class="showdiv_content_text">游戏动效</div>
                    </div>
                    <div class="showdiv_head">其他</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">游戏主播</div>
                        <div class="showdiv_content_text">游戏陪练</div>
                        <div class="showdiv_content_text">游戏体验官</div>
                        <div class="showdiv_content_text">电竞主持</div>
                        <div class="showdiv_content_text">电竞讲师</div>
                    </div>
                </div>
            </div>
        </div>
        <!--轮播图-->
        <div class=" col-md-7">
            <div style="margin-top: 30px;height: 372px;" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img style="height: 100%;width: 100%" th:src="@{project/images/img2.JPG}">
                    </div>
                    <div class="swiper-slide"><img style="height: 100%;width: 100%" th:src="@{project/images/img3.PNG}">
                    </div>
                    <div class="swiper-slide"><img style="height: 100%;width: 100%" th:src="@{project/images/img2.JPG}">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>

    <!--热门职位 最新职位 选择-->
    <div class="row pos-list-menu">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li role="presentation"><span><a href="#" class="hot-position" id="hot" style="color: #6495ED"
                                                 onclick="bigSize('hot','new')">热门职位</a></span></li>
                <li role="presentation"><span><a href="#" class="hot-position" id="new" onclick="bigSize2('hot','new')">最新发布</a></span>
                </li>
            </ul>
            <!--职位列表-->
            <div class="row">
                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="pos-list">
                        <!--职位名称 发布时间 薪资信息-->
                        <div class="row" style="margin-top: 8px">
                            <div class="col-md-4 pos-name">前端工程师</div>
                            <div class="col-md-4 time-info">[16:00发布]</div>
                            <div class="col-md-4 salary-info">20k-24k·16薪</div>
                        </div>
                        <!--经验要求-->
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-6 exe-req">经验3-5年/本科</div>
                            <div class="col-md-6"></div>
                        </div>
                        <!--行业类别-->
                        <div style="margin-top: 15px;overflow: hidden">
                            <span class="industry-category">社交平台</span>
                            <span class="industry-category">视频</span>
                            <span class="industry-category">IT技术支持</span>
                        </div>
                        <!--分割线-->
                        <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                        <!--企业信息-->
                        <div style="display:flex;margin-top: 18px">
                            <div ><img class="img-Logo" th:src="@{/project/images/ALi-Logo.png}"></div>
                            <div style="padding-left: 5px;margin-top: 6px">
                                <div style="color: #555555">阿里巴巴-事业群</div>
                                <div class="company-info">电商/上市公司/杭州</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--查看更多按钮-->
            <div class="row">
                <div class="more" style="margin-left: 510px">查看更多</div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>


</div>

<div th:replace="public/bottom :: bottom"></div>
<script>
    function show(obj, m) {
        var div = document.getElementById(obj);
        div.style.display = "block";
        var m = document.getElementById(m)
        m.style.boxShadow = "2px -2px 6px #c8c8ce";

    }

    function mOut(obj, m) {
        var div = document.getElementById(obj);
        div.style.display = "none";
        var m = document.getElementById(m)
        m.style.boxShadow = null;
    }

    function bigSize(h, n) {
        var h = document.getElementById(h);
        var n = document.getElementById(n);
        h.style.color="#6495ED"
        n.style.color="#999999"

    }

    function bigSize2(h, n) {
        var h = document.getElementById(h);
        var n = document.getElementById(n);
        h.style.color="#999999"
        n.style.color="#6495ED"
    }

    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 4000,//可选选项，自动滑动 10000ms
        loop: true, // 循环模式选项
        autoplayDisableOnInteraction: false,
        //设置切换效果
    })
</script>

<script type="text/javascript" th:src="@{/component/jquery3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/component/bootstrap4.5.2/js/bootstrap.min.js}"></script>


</body>
</html>