<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/swiper-3.4.2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
    <script type="text/javascript" th:src="@{/project/js/swiper-3.4.2.min.js}"></script>
</head>
<body>
<div th:replace="public/head :: head"></div>

<div class="container-fluid">

    <!--搜索框-->
    <div class="row">
        <div class="search-wrapper col-md-12">
            <div class="search-box">
                <div class="input-group ">
                    <input type="text" class="form-control" id="title" placeholder="搜索职位名称"
                           aria-describedby="basic-addon2">
                    <button type="button" class="input-group-addon" id="basic-addon2" onclick="f() ">搜 索
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--职位菜单-->
    <div class="row">
        <div class="menu offset-md-1 col-md-3">
            <div class="menu_1" id="m1" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv1','m1')"
                 onmouseout="mOut('showdiv1','m1')">
                <div class="menu_1_text1">技术</div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('Java'); return false">Java</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('PHP')">PHP</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('C++'); return false">C++</a></div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv1">
                    <div class="showdiv_head">后端开发</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('Java'); return false">Java</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('C++'); return false">C++</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('PHP'); return false">PHP</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('数据挖掘'); return false">数据挖掘</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('搜索算法'); return false">搜索算法</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('C'); return false">C</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('C#'); return false">C#</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('全栈工程师'); return false">全栈工程师</a>
                        </div>

                    </div>
                    <div class="showdiv_head">前端开发</div>
                    <div class="showdiv_content">

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('web前端'); return false">web前端</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('html5'); return false">html5</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('JavaScript'); return false">JavaScript</a>
                        </div>

                    </div>
                    <div class="showdiv_head">移动开发</div>
                    <div class="showdiv_content">

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('HTML5'); return false">HTML5</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('Android'); return false">Android</a>
                        </div>
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('iOS'); return false">iOS</a>
                        </div>
                    </div>
                    <div class="showdiv_head">测试</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('测试工程师'); return false">测试工程师</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('功能测试'); return false">功能测试</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('性能测试'); return false">性能测试</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('游戏测试'); return false">游戏测试</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('测试开发'); return false">测试开发</a>
                        </div>
                    </div>
                    <div class="showdiv_head">运维</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('运维工程师'); return false">运维工程师</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('网络工程师'); return false">网络工程师</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('IT支持'); return false">IT支持</a>
                        </div>

                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('运维开发工程师'); return false">运维开发工程师</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m2" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv2','m2')"
                 onmouseout="mOut('showdiv2','m2')">
                <div class="menu_1_text1">产品</div>
                <div class="menu_1_text2">
                    <a class="titlea" href="#" onclick="f2('产品总监'); return false">产品总监</a>
                </div>
                <div class="menu_1_text2">
                    <a class="titlea" href="#" onclick="f2('产品经理'); return false">产品经理</a>
                </div>
                <div class="menu_1_text2">
                    <a class="titlea" href="#" onclick="f2('产品助理'); return false">产品助理</a>
                </div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv2">
                    <div class="showdiv_head">产品经理</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('网页产品经理'); return false">网页产品经理</a>
                        </div>
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('移动产品经理'); return false">移动产品经理</a>
                        </div>
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('产品助理'); return false">产品助理</a>
                        </div>
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('产品实习生'); return false">产品实习生</a>
                        </div>
                    </div>
                    <div class="showdiv_head">产品设计师</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('网页产品设计师'); return false">网页产品设计师</a>
                        </div>
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('无线产品设计师'); return false">无线产品设计师</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m3" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv3','m3')"
                 onmouseout="mOut('showdiv3','m3')">
                <div class="menu_1_text1">设计</div>
                <div class="menu_1_text2">
                    <a class="titlea" href="#" onclick="f2('交互设计'); return false">交互设计</a>
                </div>
                <div class="menu_1_text2">
                    <a class="titlea" href="#" onclick="f2('UI设计师'); return false">UI设计师</a>
                </div>
                <div class="menu_1_text2">
                    <a class="titlea" href="#" onclick="f2('用户研究'); return false">用户研究</a>
                </div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv3">
                    <div class="showdiv_head">视觉设计</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#"
                                                             onclick="f2('视觉设计师'); return false">视觉设计师</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#"
                                                             onclick="f2('网页设计师'); return false ">网页设计师</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#"
                                                             onclick="f2('APP设计师'); return false">APP设计师</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#"
                                                             onclick="f2('美术设计师'); return false">美术设计师</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#"
                                                             onclick="f2('广告设计师'); return false">广告设计师</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('原画师'); return false">原画师</a>
                        </div>
                    </div>
                    <div class="showdiv_head">交互设计</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('交互设计师'); return false">交互设计师</a>
                        </div>
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('网页交互设计师'); return false">网页交互设计师</a>
                        </div>
                        <div class="showdiv_content_text">
                            <a class="titlea" href="#" onclick="f2('无线交互设计师'); return false">无线交互设计师</a>
                        </div>
                    </div>
                    <div class="showdiv_head">用户研究</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('数据分析师'); return false">数据分析师</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('用户研究员'); return false">用户研究员</a></div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m4" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv4','m4')"
                 onmouseout="mOut('showdiv4','m4')">
                <div class="menu_1_text1">运营</div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('媒体运营'); return false">媒体运营</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('客服'); return false">客服</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('编辑'); return false">编辑</a></div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv4">
                    <div class="showdiv_head">运营</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('用户运营'); return false">用户运营</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('商家运营'); return false">商家运营</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('产品运营'); return false">产品运营</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('内容运营'); return false">内容运营</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('新媒体运营'); return false">新媒体运营</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('游戏运营'); return false">游戏运营</a></div>
                    </div>
                    <div class="showdiv_head">编辑</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('副主编');return false">副主编</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('内容编辑');return false">内容编辑</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('文案策划');return false">文案策划</a></div>
                    </div>
                    <div class="showdiv_head">客服</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('售前客服'); return false">售前客服</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('售后客服'); return false">售后客服</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('客服经理'); return false">客服经理</a></div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m5" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv5','m5')"
                 onmouseout="mOut('showdiv5','m5')">
                <div class="menu_1_text1">市场</div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('市场营销'); return false">市场营销</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('市场推广'); return false">市场推广</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('市场评估'); return false">市场评估</a></div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv5">
                    <div class="showdiv_head">市场/营销</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('市场策划'); return false">市场策划</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('市场顾问'); return false">市场顾问</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('商务渠道'); return false">商务渠道</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('海外市场'); return false">海外市场</a></div>
                    </div>
                    <div class="showdiv_head">媒体/公关</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('品牌公关'); return false">品牌公关</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('媒介投放'); return false">媒介投放</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('媒介合作'); return false">媒介合作</a></div>
                    </div>
                    <div class="showdiv_head">品牌/广告</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('广告创意'); return false">广告创意</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('广告制作'); return false">广告制作</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('广告文案'); return false">广告文案</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('广告投放'); return false">广告投放</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('品牌专员'); return false">品牌专员</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('品牌策划'); return false">品牌策划</a></div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m6" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv6','m6')"
                 onmouseout="mOut('showdiv6','m6')">
                <div class="menu_1_text1">职能</div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('HR'); return false"> H R</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('行政'); return false">行政</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('财务'); return false">财务</a></div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv6">
                    <div class="showdiv_head">人力资源</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('人力资源'); return false">人力资源</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('招聘'); return false">招聘</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('培训经理'); return false">培训经理</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('HRBP'); return false">HRBP</a></div>
                    </div>
                    <div class="showdiv_head">行政</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('前台'); return false">前台</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('行政'); return false">行政</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('文秘'); return false">文秘</a></div>
                    </div>
                    <div class="showdiv_head">财务</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('会计'); return false">会计</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('出纳'); return false">出纳</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('财务'); return false">财务</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('结算'); return false">结算</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('税务'); return false">税务</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('审计'); return false">审计</a></div>
                    </div>
                    <div class="showdiv_head">法务</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('法务'); return false">法务</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('律师'); return false">律师</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('专利'); return false">专利</a></div>
                    </div>
                </div>
            </div>
            <div class="menu_1" id="m7" style="margin-top: 20px;clear:both;" onmouseover="show('showdiv7','m7')"
                 onmouseout="mOut('showdiv7','m7')">
                <div class="menu_1_text1">游戏</div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('游戏开发'); return false">游戏开发</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('游戏策划'); return false">游戏策划</a></div>
                <div class="menu_1_text2"><a class="titlea" href="#" onclick="f2('游戏体验'); return false">游戏体验</a></div>
                <div class="menu_1_img"></div>
                <div class="showdiv" id="showdiv7">
                    <div class="showdiv_head">技术开发</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('H5游戏开发'); return false">H5游戏开发</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('小游戏开发'); return false">小游戏开发</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('游戏后端开发'); return false">游戏后端开发</a></div>
                    </div>
                    <div class="showdiv_head">设计</div>
                    <div class="showdiv_content">
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('游戏动画'); return false">游戏动画</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('游戏原画'); return false">游戏原画</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('游戏界面'); return false">游戏界面</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('游戏场景'); return false">游戏场景</a></div>
                        <div class="showdiv_content_text"><a class="titlea" href="#" onclick="f2('游戏角色'); return false">游戏角色</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--轮播图-->
        <div class=" col-md-7">
            <div style="margin-top: 30px;height: 372px;" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img style="height: 100%;width: 100%"
                                                   th:src="@{/project/images/img2.JPG}">
                    </div>
                    <div class="swiper-slide"><img style="height: 100%;width: 100%"
                                                   th:src="@{/project/images/img3.PNG}">
                    </div>
                    <div class="swiper-slide"><img style="height: 100%;width: 100%"
                                                   th:src="@{/project/images/img2.JPG}">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>

    <!--热门职位 最新职位 选择-->
    <div class="pos-list-menu" id="target">
        <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li role="presentation"><span><a href="#" class="hot-position" id="hot" style="color: #6495ED"
                                                     onclick="bigSize('hot','new')">热门职位</a></span></li>
                </ul>
                <!--职位列表-->
                <div class="row" id="content">
                    <div class="col-md-4" th:each="p,status:${positionInfoList}">
                        <div class="pos-list">
                            <!--职位名称 发布时间 薪资信息-->
                            <div class="row" style="margin-top: 8px">
                                <a class="col-md-4 pos-name" th:text="${p.ptitle}"
                                   th:href="@{/position/positionInfo(pid=${p.pid},menutab=1)}"></a>
                                <div class="col-md-4 time-info"
                                     th:text="${#dates.format(p.releasetime,'['+'mm:ss'+']')}"></div>
                                <div class="col-md-4 salary-info" th:text="${p.salary}"></div>
                            </div>
                            <!--经验要求-->
                            <div class="row" style="margin-top: 15px">
                                <div class="col-md-12 exe-req">
                                    <span th:text="${p.experience} +'/'"></span>
                                    <span th:text="${p.postnature} +'/'"></span>
                                    <span th:text="${p.education}"></span>
                                </div>
                                <div class="col-md-4 exe-req"></div>
                            </div>
                            <!--行业类别-->
                            <div style="margin-top: 15px;overflow: hidden">
                                <span class="industry-category" th:text="${p.enterpriseinfoDTO.category}"></span>
                            </div>
                            <!--分割线-->
                            <div style="border-bottom:1px dashed #E0E0E0;margin-top: 15px"></div>
                            <!--企业信息-->
                            <div style="display:flex;margin-top: 18px">
                                <div><img class="img-Logo"
                                          th:src="@{${'http://localhost:18011/'+p.enterpriseinfoDTO.logoimage}}">
                                </div>
                                <div style="padding-left: 5px;margin-top: 6px">
                                    <div style="color: #555555">
                                        <span th:text="${p.departments}+'/'"></span>
                                        <span th:text="${p.enterpriseinfoDTO.ename}"></span>
                                    </div>
                                    <div class="company-info">
                                        <span th:text="${p.enterpriseinfoDTO.category}"></span>
                                        <span>/</span>
                                        <span th:text="${p.enterpriseinfoDTO.financingstage}"></span>
                                        <span>/</span>
                                        <span th:text="${#strings.abbreviate(p.enterpriseinfoDTO.eplace,4)}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--查看更多按钮-->
                <div class="row">
                    <a class="more" style="margin-left: 510px "
                       th:href="@{/position/positionList/(menutab=3)}"><span>查看更多</span></a>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>


</div>

<div th:replace="public/bottom :: bottom"></div>

<script>
    function show(obj, m) {
        var div = document.getElementById(obj);
        div.style.display = "block";
        var m = document.getElementById(m)
        m.style.boxShadow = "2px -2px 6px #c8c8ce";
    }

    function mOut(obj, m) {
        var div = document.getElementById(obj);
        div.style.display = "none";
        var m = document.getElementById(m)
        m.style.boxShadow = null;
    }

    function bigSize(h, n) {
        var h = document.getElementById(h);
        var n = document.getElementById(n);
        h.style.color = "#6495ED"
        n.style.color = "#999999"

    }

    function bigSize2(h, n) {
        var h = document.getElementById(h);
        var n = document.getElementById(n);
        h.style.color = "#999999"
        n.style.color = "#6495ED"
    }

    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 4000,//可选选项，自动滑动 10000ms
        loop: true, // 循环模式选项
        autoplayDisableOnInteraction: false,
        //设置切换效果
    })
</script>

<script type="text/javascript" th:src="@{/component/jquery3.5.1/jquery.min.js}"></script>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/component/bootstrap4.5.2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/component/login.js}"></script>
<script type="text/javascript">
    function f() {
        let title = $("#title").val()
        $.get("/index",
            {
                "title": title,
                "menutab": 1
            }, function (resp) {
                $("#target").empty();
                var content = $(resp).find("#content").html()
                if (content.trim() === '') {
                    div_object = document.createElement('p');
                    div_object.id = 'div_id'
                    div_object.innerHTML = "暂无数据!!!"
                    div_object.style.fontSize = "20px"
                    div_object.style.color = "#999999"
                    div_object.style.letterSpacing = "10px"
                    div_object.style.fontWeight = "600"
                    div_object.style.marginTop = "20px"
                    div_object.style.textAlign = "center"
                    document.getElementById('target').append(div_object);//放到指定的id里
                } else {
                    $("#target").append($(resp).find("#target"));
                    $('html, body').animate({scrollTop: $('#target').offset().top - 50}, 550)
                }

            }, "html");
    }

    function f2(title) {
        $.get("/index",
            {
                "title": title,
                "menutab": 1
            }, function (resp) {
                $("#target").empty();
                var content = $(resp).find("#content").html()
                if (content.trim() === '') {
                    div_object = document.createElement('p');
                    div_object.id = 'div_id'
                    div_object.innerHTML = "暂无数据!!!"
                    div_object.style.fontSize = "20px"
                    div_object.style.color = "#999999"
                    div_object.style.letterSpacing = "10px"
                    div_object.style.fontWeight = "600"
                    div_object.style.marginTop = "20px"
                    div_object.style.textAlign = "center"
                    document.getElementById('target').append(div_object);//放到指定的id里
                } else {
                    $("#target").append($(resp).find("#target"));
                    $('html, body').animate({scrollTop: $('#target').offset().top - 50}, 550)
                }
            }, "html");
    }

</script>
</body>
</html>