<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
</head>
<body >
<div th:fragment="bottom" class="wrapper-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 font" style=" margin-top: 30px;">云职 带给你新的使用体验</div>
            <div class="col-md-6 font">联系我们：4000 0000 01 (9:00 -21:00)</div>
        </div>
    </div>
</div>
</body>
</html>