<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>职位信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/modules/code.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/modules/laydate.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/positionInfo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/swiper-3.4.2.min.css}">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
</head>
<body>
<div th:replace="public/head :: head"></div>

<div class="container-fluid">
    <!--头部-->
    <div class="row" style="height: 220px;background:#fafafa;">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-top: 35px">
            <!--职位名称-->
            <div class="row">
                <div class="col-md-12 position-wrapper-name"
                     th:text="${position.enterpriseinfoDTO.ename+' '+position.ptitle}"></div>
            </div>
            <!--职位薪资/工作地点/经验要求/学习要求/职业性质（全职、实习、兼职）-->
            <div style="margin-top: 20px;font-size: 20px;color: #555555;font-weight: 400">
                <span style="color: #FD5F39" th:text="${position.salary+'·14薪'}"></span>
                <span>/</span>
                <!-- <span th:text="${position.place}"></span>
                 <span>/</span>-->
                <span th:text="${position.experience}"></span>
                <span>/</span>
                <span th:text="${position.education}"></span>
                <span>/</span>

                <span th:text="${position.postnature}"></span>
                <button type="button" style="margin-left:350px;outline: none"
                        class="layui-btn layui-btn-primary layui-border-green layui-btn-radius" id="delivery">投递简历
                </button>
                <button type="button" style="outline: none"
                        class="layui-btn layui-btn-primary layui-border-blue layui-btn-radius" id="collect"><i
                        class="layui-icon  layui-icon-rate"></i>收藏该职位
                </button>

            </div>
            <!--职业分类（max 5种 ）-->
            <div style="margin-top: 20px">
                <ul class="position-label clearfix">
                    <li class="labels" th:class="${position.posttype1 ne '' ? 'labels':'p-hide'}"
                        th:text="${position.posttype1}"></li>
                    <li class="labels" th:class="${position.posttype2 ne '' ? 'labels':' p-hide'}"
                        th:text="${position.posttype2}"></li>
                    <li class="labels" th:class="${position.posttype3 ne '' ? 'labels':' p-hide'}"
                        th:text="${position.posttype3}"></li>
                    <li class="labels" th:class="${position.posttype4 ne '' ? 'labels':' p-hide'}"
                        th:text="${position.posttype4}"></li>
                    <li class="labels" th:class="${position.posttype5 ne '' ? 'labels':' p-hide'}"
                        th:text="${position.posttype5}"></li>
                </ul>
            </div>
            <div style="color: #999">
                <span th:text="${#dates.format(position.releasetime,'yyyy-MM-dd')}"></span>
                发布
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!--职位详情-->
    <div class="row" style="margin-top: 25px">
        <div class="col-md-2"></div>
        <div class="col-md-7 position-left-data">
            <!--职位诱惑-->
            <div>
                <div class="pos-title">职位诱惑:</div>
                <div style="color: #333333" th:text="${position.temptation}"></div>
            </div>
            <!--职位描述-->
            <div>
                <div class="pos-title">职位描述:</div>
                <div style="color: #333333">
                    <div class="job-detail" th:utext="${position.description}">
                    </div>
                </div>
            </div>
            <!--工作地点-->
            <div>
                <div class="pos-title">工作地点:</div>
                <div th:text="${position.place}"></div>
            </div>
            <!--面试评价-->
            <div style="border-bottom: 1px dashed #dce4e6;margin-right: 15px"
                 th:class="${position.appraiseDTO.size() gt 1 ? '':'p-hide'}">
                <div class="interview-evaluation">面试评价</div>
                <!--评分结果区-->
                <fieldset>
                    <legend style="font-size: 15px">综合评价: <span id="star1" class="star"></span></legend>
                    <legend class="rate">描述相符: <span id="star2" class="star"></span></legend>
                    <legend class="rate">公司环境: <span id="star3" class="star"></span></legend>
                    <legend class="rate">面 试 官: <span id="star4" class="star"></span></legend>
                </fieldset>
            </div>
            <!--评论区-->
            <div th:class="${position.appraiseDTO.size() gt 1 ? '':'p-hide'}"
                 th:each="a,status:${position.appraiseDTO}">
                <div style=" margin: 15px 0;padding: 10px;">
                    <div class="comment">
                        <div class="row">
                            <div class="col-md-4" style="color: #555555">秦*研</div>
                            <div class="col-md-4" style="color: #999999;text-align: center"></div>
                            <div class="col-md-4" style="color: #999999;text-align: right"
                                 th:text="${#dates.format(a.cratetime,'yyyy-MM-dd')}"></div>
                        </div>
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-12">
                                <span class="interview-tag"
                                      th:class="${a.evaluationlabel1 ne '' ? 'interview-tag':'p-hide'}"
                                      th:text="${a.evaluationlabel1}"></span>
                                <span class="interview-tag"
                                      th:class="${a.evaluationlabel2 ne '' ? 'interview-tag':'p-hide'}"
                                      th:text="${a.evaluationlabel2}"></span>
                                <span class="interview-tag"
                                      th:class="${a.evaluationlabel3 ne '' ? 'interview-tag':'p-hide'}"
                                      th:text="${a.evaluationlabel3}"></span>
                                <span class="interview-tag"
                                      th:class="${a.evaluationlabel4 ne '' ? 'interview-tag':'p-hide'}"
                                      th:text="${a.evaluationlabel4}"></span>
                                <span class="interview-tag"
                                      th:class="${a.evaluationlabel5 ne '' ? 'interview-tag':'p-hide'}"
                                      th:text="${a.evaluationlabel5}"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px">
                            <div class="col-md-12">
                                <span style="color: #999999"> [面试过程]</span>
                                <span class="comment-content" th:text="${a.interviewprocess}">
                               </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右边公司基本信息-->
        <div class="col-md-3">
            <div style="margin-top: 15px">
                <!--公司基本信息-->
                <div>
                    <span class="pos-title" th:text="${position.enterpriseinfoDTO.ename+'基本信息'}"></span>
                    <div class="company-info-r" th:text="${'人数：'+position.enterpriseinfoDTO.numberofworkers}"></div>
                    <div class="company-info-r" th:text="${'领域：'+position.enterpriseinfoDTO.category}"></div>
                    <div class="company-info-r"
                         th:text="${'地点：'+#strings.abbreviate(position.enterpriseinfoDTO.eplace,40)}"></div>
                    <div class="company-info-r">
                        <a th:text="${'公司网站：'+position.enterpriseinfoDTO.eurl}"
                           th:href="${position.enterpriseinfoDTO.eurl}" style="color: #999999"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="public/bottom :: bottom"></div>



<script type="text/javascript" th:src="@{/component/jquery3.5.1/jquery.min.js}"></script>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/component/bootstrap4.5.2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/component/login.js}"></script>
<script th:inline="javascript">
    layui.use(['rate'], function () {
        var rate = layui.rate;
        rate.render({
            elem: '#overview'
            , value: 4 //初始值
            , half: true //开启半星
            , readonly: true //只读
        })
        rate.render({
            elem: '#star1'
            , value: [[${mu}]] //初始值
            , half: true //开启半星
            , readonly: true //只读
        })
        rate.render({
            elem: '#star2'
            , value: [[${m}]] //初始值
            , half: true //开启半星
            , readonly: true //只读
        })
        rate.render({
            elem: '#star3'
            , value: [[${e}]] //初始值
            , half: true //开启半星
            , readonly: true //只读
        })
        rate.render({
            elem: '#star4'
            , value: [[${r}]] //初始值
            , half: true //开启半星
            , readonly: true //只读
        })

        $(document).on('click', '#delivery', function () {
            let userid = sessionStorage.getItem('userid')
            let pid = [[${position.pid}]]
            const deliveryDto = {}
            deliveryDto.uid = userid
            deliveryDto.pid = pid
            console.log(JSON.stringify(deliveryDto))
            if (userid != null) {
                $.ajax({
                    url: '/collection/insertDelivery',
                    type: 'post',
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(deliveryDto),
                    async: false,
                    success: function (res) {
                        console.log(res)
                    }
                })
            }

        });

        $(document).on('click', '#collect', function () {
            let userid = sessionStorage.getItem('userid')
            let pid = [[${position.pid}]]
            let ptitle = [[${position.ptitle}]]
            let salary = [[${position.salary}]]
            let place = [[${position.place}]]
            let departments = [[${position.departments}]]
            const collectDto = {}
            collectDto.uid = userid
            collectDto.pid = pid
            collectDto.ptitle = ptitle
            collectDto.salary = salary
            collectDto.place = place
            collectDto.departments = departments
            console.log(JSON.stringify(collectDto))
            if (userid != null) {
                $.ajax({
                    url: '/collection/insertCollection',
                    type: 'post',
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(collectDto),
                    async: false,
                    success: function (res) {
                        console.log(res)

                    }
                })
            }

        });
    })


</script>

</body>
</html>