<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwl.qzzp.dao.RootMapper">
    <resultMap id="BaseResultMap" type="com.cwl.qzzp.dto.Root">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`, pwd
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.cwl.qzzp.dto.Root" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from root
        where `name` = #{name,jdbcType=VARCHAR}
        and pwd = #{pwd,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from root
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cwl.qzzp.dto.Root" useGeneratedKeys="true">
        insert into root (`name`, pwd)
        values (#{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cwl.qzzp.dto.Root"
            useGeneratedKeys="true">
        insert into root
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cwl.qzzp.dto.Root">
        update root
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cwl.qzzp.dto.Root">
        update root
        set `name` = #{name,jdbcType=VARCHAR},
            pwd    = #{pwd,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>