<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公司</title>
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
</head>
<body>

<div class="container-fluid">

    <blockquote class="layui-elem-quote layui-text">
        <button type="button" class="layui-btn layui-btn-normal" id="getdata">点我获取数据</button>
    </blockquote>

</div>

<script type="text/javascript" th:src="@{/component/jquery3.5.1/jquery.min.js}"></script>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/component/bootstrap4.5.2/js/bootstrap.min.js}"></script>
</body>
<script>
    document.getElementById("getdata").onclick = function () {
        var item = window.sessionStorage.getItem("itemid");
        console.log(item)
        window.location.href='/collection/getAllDelivery?id=' + item
    }
</script>
</html>