<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>简历</title>
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
</head>
<style>
    .boder{
        border: 1px solid #ededed;
        border-radius: 5px;
        padding: 15px;
        transition: transform 0.15s;
        cursor: pointer;

    }
    .boder:hover{
        box-shadow: 0 0 4px #c8c8ce;
        transform: translate(0, -5px);
    }
    .uname{
        color: #565656;
        font-size: 20px;
        margin-bottom: 5px;
        letter-spacing: 5px;
    }
    .info{
        color: #565656;
        font-size: 18px;
        font-weight: 400;
    }
</style>
<body>

<div class="container-fluid" style="margin-top: 20px">
<div class="row" >
    <div class="col-md-4 " th:each="p,status:${data}" >
        <div class="boder">
            <div><span class="uname"><i class="layui-icon layui-icon-username" style="font-size: 20px;"></i>：</span><span class="info" th:text="${p.username}" style="letter-spacing: 5px"></span></div>
            <div><span class="uname"><i class="layui-icon layui-icon-male" style="font-size: 20px;"></i>：</span><span class="info"  th:text="${p.gender}"></span></div>
            <div><span class="uname"><i class="layui-icon layui-icon-cellphone" style="font-size: 20px;"></i>：</span><span class="info"  th:text="${p.phone}"></span></div>
            <div><span class="uname"><i class="layui-icon layui-icon-email" style="font-size: 20px;"></i>：</span><span class="info"  th:text="${p.email}"></span></div>
            <div><span class="uname">院校：</span><span class="info"  th:text="${p.schoolname}"></span></div>
            <div><span class="uname">身份：</span><span class="info"  th:text="${p.identitys}" style="letter-spacing: 5px" ></span></div>
            <div><span class="uname">毕业时间：</span><span  class="info" th:text="${#dates.format(p.graduationTime,'yyyy-MM-dd')}"></span></div>
            <div><span class="uname">个人优势：</span><span class="info"  style="word-wrap:break-word;" th:text="${p.personaladvantage}"></span></div>
            <div><span class="uname">期望薪资：</span><span class="info"  style="color: #FA6041" th:text="${p.startingSalaryFrom+'-'+p.startingSalaryTo}"></span></div>
            <div><span class="uname">期待职位：</span><span class="info"  th:text="${p.position}"></span></div>
            <div><span class="uname">期待城市：</span><span class="info"  th:text="${p.city}"></span></div>
            <a class="layui-btn layui-btn-primary" style="text-decoration: none;margin-top: 15px" th:href="@{/down(path=${p.resumePath})}"><i class="layui-icon layui-icon-download-circle" style="font-size: 20px"></i>下载简历附件</a>
        </div>

    </div>
</div>

</div>

<script type="text/javascript" th:src="@{/component/jquery3.5.1/jquery.min.js}"></script>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/component/bootstrap4.5.2/js/bootstrap.min.js}"></script>
</body>
<script>
</script>
</html>