<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改公司信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/public.css}" media="all">
    <script th:src="@{/project/js/wangEditor.min.js}"></script>
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
</head>
<style type="text/css">
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <blockquote class="layui-elem-quote layui-text">
            编辑公司信息
        </blockquote>

        <div style="margin-top: 10px;">

            <form class="layui-form" lay-filter="scoreRuleForm">
                <div class="layui-form-item">
                    <input type="text" name="eid" id="eid"
                           autocomplete="off" class="layui-input layui-hide">
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">公司名称</label>
                        <div class="layui-input-block">
                            <input id="ename" type="text" name="ename" lay-verify="title"
                                   autocomplete="off" placeholder="请输入公司名称"
                                   class="layui-input" disabled="disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">公司地址</label>
                        <div class="layui-input-block">
                            <input id="eplace" type="text" name="eplace" lay-verify="title"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">行业类别</label>
                        <div class="layui-input-block">
                            <input id="category" type="text" name="category" lay-verify="title"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <label class="layui-form-label">网站链接</label>
                        <div class="layui-input-block">
                            <input id="eurl" type="url" name="eurl" lay-verify="title" autocomplete="off"
                                   placeholder=""
                                   class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">公司宣传语</label>
                    <div class="layui-input-block">
                        <input id="signlanguage" type="text" name="signlanguage" lay-verify="title"
                               autocomplete="off"
                               placeholder=""
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">融资阶段</label>
                        <div class="layui-input-inline">
                            <select id="financingstage" name="financingstage" lay-filter="title">
                                <option value=""></option>
                                <option value="未融资">未融资</option>
                                <option value="天使轮">天使轮</option>
                                <option value="A轮">A轮</option>
                                <option value="B轮">B轮</option>
                                <option value="C轮">C轮</option>
                                <option value="D轮及以上">D轮及以上</option>
                                <option value="上市公司">上市公司</option>
                                <option value="不需要融资">不需要融资</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">公司规模</label>
                        <div class="layui-input-inline">
                            <select name="numberofworkers" id="numberofworkers" lay-filter="title">
                                <option value=""></option>
                                <option value="少于15人">少于15人</option>
                                <option value="50人">15-50人</option>
                                <option value="50-150人">50-150人</option>
                                <option value="150-500人">150-500人</option>
                                <option value="500-2000人">500-2000人</option>
                                <option value="2000+">2000人以上</option>
                            </select>
                        </div>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>公司福利</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">福利一</label>
                        <div class="layui-input-inline">
                            <input type="text" name="benefit1" id="benefit1" lay-verify="title"
                                   placeholder="例如：免费班车"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">福利二</label>
                        <div class="layui-input-inline">
                            <input type="text" name="benefit2" id="benefit2" lay-verify="title"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">福利三</label>
                        <div class="layui-input-inline">
                            <input type="text" name="benefit3" id="benefit3" lay-verify=""
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">福利四</label>
                        <div class="layui-input-inline">
                            <input type="text" name="benefit4" id="benefit4"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">福利五</label>
                        <div class="layui-input-inline">
                            <input type="text" name="benefit5" id="benefit5"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>


                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>公司介绍</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block">
                            <textarea class="layui-textarea" name="eintroducation" lay-verify="title" id="eintroducation"
                                      style="width: 100%;height: 300px; " disabled></textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="modify">修改</button>
                    <!--    <button class="layui-btn layui-btn-primary" lay-submit="" id="getdata">getdata</button>-->
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/project/js/lay-config.js}" charset="utf-8"></script>
<script>
    function delHtmlTag(str) {
        return str.replace(/<[^>]+>/g, "");//去掉所有的html标记
    }

    layui.use(['form', 'layedit', 'laydate', 'upload', 'element'], function () {
        var form = layui.form,
            layer = layui.layer,
            element = layui.element,
            upload = layui.upload;

        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '不允许为空';
                }
            },
            required: function (value) {
                if (value.length < 1) {
                    return '不允许为空';
                }
            }
        });


        window.onload = function () {
             var item = window.localStorage.getItem("eid");
             $("#itemid").val(window.localStorage.getItem("eid"))
           /* var item = "330be95c-5a58-4a14-957a-d2e15a05eb4d";
            $("#eid").val("330be95c-5a58-4a14-957a-d2e15a05eb4d")*/
            if(item !=null){
                $.ajax({
                    url: '/company/selectByPk',
                    type: 'get',
                    contentType: 'application/json; charset=UTF-8',
                    async: false,
                    data: {'eid': item},
                    success: function (res) {
                        if (res.status === 0) {
                            $("#ename").val(res.data.ename)
                            $("#eplace").val(res.data.eplace)
                            $("#category").val(res.data.category)
                            $("#eurl").val(res.data.eurl)
                            $("#signlanguage").val(res.data.signlanguage)
                            $("#financingstage").val(res.data.financingstage)
                            $("#numberofworkers").val(res.data.numberofworkers)
                            $("#benefit1").val(res.data.benefit1)
                            $("#benefit2").val(res.data.benefit2)
                            $("#benefit3").val(res.data.benefit3)
                            $("#benefit4").val(res.data.benefit4)
                            $("#benefit5").val(res.data.benefit5)
                            $("#eintroducation").val(delHtmlTag(res.data.eintroducation))
                            form.render();
                            console.log(form.val("scoreRuleForm"))
                        }
                    }
                })
            }else {
                layer.alert("请检查登录")
            }
        }

        form.on('submit(modify)', function (data) {
            const company = JSON.stringify(data.field)
            $.ajax({
                    url: '/company/updata',
                    type: 'post',
                    contentType: 'application/json; charset=UTF-8',
                    async: false,
                    dataType: "json",
                    data: company,
                    success: function (res) {
                        console.log(res)
                        if (res.status === 0) {
                            layer.msg("更新成功")
                            form.render();
                        } else {
                            layer.msg("更新失败")
                        }
                    }
                }
            )
        });

        /*
       var logoPath;

       var uploadInst = upload.render({
           elem: '#test1'
           , url: 'http://localhost:7089/img/upload'
           , accept: 'images'
           , size: 50000
           , before: function (obj) {
               obj.preview(function (index, file, result) {
                   $('#demo1').attr('src', result);
               });
               element.progress('demo', '0%'); //进度条复位
               layer.msg('上传中', {icon: 16, time: 0});
           }
           , done: function (res) {
               //如果上传失败
               if (res.code > 0) {
                   return layer.msg('上传失败');
               }
               //上传成功
               var demoText = $('#demoText');
               demoText.html('<span style="color: #4cae4c;">上传成功</span>');
               logoPath = res.data.src
               console.log(logoPath)
               $("#logoimage").val(res.data.src)

           }
           , error: function () {
               //演示失败状态，并实现重传
               var demoText = $('#demoText');
               demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
               demoText.find('.demo-reload').on('click', function () {
                   uploadInst.upload();
               });
           }
           , progress: function (n, index, e) {
               element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
               if (n == 100) {
                   layer.msg('上传完毕', {icon: 1});
               }
           }
       });
       多图片上传
       var uploadInst2 = upload.render({
           elem: '#test2'
           , url: 'http://localhost:7089/img/upload'
           , accept: 'images'
           , size: 100000
           , number: 3
           , multiple: true
           , before: function (obj) {
               var files = obj.pushFile();//将每次选择的文件追加到文件队列
               obj.preview(function (index, file, result) {
                   $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
               });
           }
           , done: function (res) {
               if (res.code > 0) {
                   return layer.msg('上传失败');
               } else {
                   layer.msg('上传成功')
                   console.log("res.data.src:  ", res.data.src)
                   eImage.push(res.data.src)
               }
               const arrChangeMap = (eImage) => new Map(eImage.map((value, key) => [key, value]))
               $("#eimage1").val(arrChangeMap(eImage).get(0))
               $("#eimage2").val(arrChangeMap(eImage).get(1))
               $("#eimage3").val(arrChangeMap(eImage).get(2))
           }
           , error: function () {
               //演示失败状态，并实现重传
               var demo2 = $('#demo2');
               demo2.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
               demo2.find('.demo-reload').on('click', function () {
                   uploadInst2.upload();
               });
           }
       });
      */
    });

</script>

</body>
</html>