<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>职位列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/project/css/public.css}" media="all">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
</head>
<style type="text/css">
    body .demo-class .layui-layer-title {
        background: #1E9FFF;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        border: none;
    }

    body .demo-class .layui-layer-btn {
        border-top: 1px solid #E9E7E7
    }

    body .demo-class .layui-layer-btn a {
        background: #1E9FFF;
    }

    body .demo-class .layui-layer-btn .layui-layer-btn1 {
        background: #ffffff;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">职位名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="ptitle" name="ptitle" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">工作地址</label>
                            <div class="layui-input-inline">
                                <input type="text" id="place" name="place" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="updata">修改</a>
        </script>

    </div>
</div>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:inline="none">

    function delHtmlTag(str){
        return str.replace(/<[^>]+>/g,"");//去掉所有的html标记
    }
    layui.use(['form', 'table'], function () {
        table = layui.table, $ = layui.$, laypage = layui.laypage, form = layui.form, layer = layui.layer;
        table.render({
            elem: '#currentTableId',
            url: '/position/getAllPosition',
            toolbar: '#toolbarDemo',
            cellMinWidth: 80,
            even: true,//开启隔行背景
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            parseData: function (res) {
                return {
                    "code": res.status,
                    "msg": res.message,
                    "count": res.data.length == null ? 0 : res.data.length,
                    "data": res.data
                };
            },
            page: true,
            request: {
                pageName: 'page' // 页码的参数名称，默认：page
                , limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            cols: [[
                {field: 'ptitle', title: '职位名称', align: "center"},
                {field: 'salary', title: '薪资待遇', align: "center"},
                {field: 'experience', title: '经验要求', align: "center"},
                {field: 'description', title: '职位描述', align: "center"},
                {field: 'education', title: '学历要求', align: "center"},
                {field: 'departments', title: '所属部门', align: "center"},
                {field: 'postnature', title: '性质', align: "center"},
                {
                    field: 'releasetime',
                    width: 150,
                    title: '发布时间',
                    align: "center",
                    templet: "<div>{{layui.util.toDateString(d.created, 'yyyy-MM-dd')}}</div>"
                },
                {title: '操作', toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20],
            done: function (res, curr, count) {
                $("table").css("width", "100%");
            },
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            var pid = data.pid
            if (obj.event === 'updata') {
                var index = layer.open({
                    skin: 'demo-class',
                    title: '更新职位信息',
                    type: 2,
                    maxmin: true,
                    anim: 5,
                    area: ['100%', '100%'],
                    content: '/manage/upDataJobTable?pid=' + pid,
                    success: function (layero, index) {
                        layer.iframeAuto(index);  //找到它的子窗口的body
                        var body = layer.getChildFrame('body', index); //为子窗口元素赋值
                        body.find('select[name=experience]').find('option[value = ' + data.experience + ']').attr("selected", "selected");
                        body.find('select[name=education]').find('option[value = ' + data.education + ']').attr("selected", "selected");
                        body.find('select[name=postnature]').find('option[value = ' + data.postnature + ']').attr("selected", "selected");
                        body.find("input[name=ptitle]").val(data.ptitle);
                        body.find("input[name=salary]").val(data.salary);
                        body.find("input[name=temptation]").val(data.temptation);
                        body.find("input[name=departments]").val(data.departments);
                        body.find("input[name=place]").val(data.place);
                        body.find("input[name=posttype1]").val(data.posttype1);
                        body.find("input[name=posttype2]").val(data.posttype2);
                        body.find("input[name=posttype3]").val(data.posttype3);
                        body.find("input[name=posttype4]").val(data.posttype4);
                        body.find("input[name=posttype5]").val(data.posttype5);
                        body.find("textarea[name=description]").val(delHtmlTag(data.description));
                        body.find("input[name=pid]").val(data.pid);
                        form.render('select');
                    }
                });
            }
        });



    });
</script>


</body>
</html>