<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑公司信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/public.css}" media="all">
    <script th:src="@{/project/js/wangEditor.min.js}"></script>
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
</head>
<style type="text/css">
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <blockquote class="layui-elem-quote layui-text">
            编辑管理者信息
        </blockquote>

        <div style="margin-top: 10px;">

            <form class="layui-form" action="">
                <!--<div class="layui-form-item">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="test1">头像</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="demo1">
                            <p id="demoText"></p>
                            <input id="logoimage" type="text" name="logoimage" lay-verify="title"
                                   class="layui-input layui-hide">
                        </div>
                    </div>
                    <div style="width:300px;">
                        <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                            <div class="layui-progress-bar" lay-percent=""></div>
                        </div>
                    </div>
                </div>-->

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">管理者名称</label>
                        <div class="layui-input-block">
                            <input id="mname" type="text" name="mname" lay-verify="title"
                                   autocomplete="off" placeholder="请输入管理者名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">职位描述</label>
                        <div class="layui-input-block">
                            <input id="pmintroducation" type="text" name="pmintroducation" lay-verify="title"
                                   autocomplete="off" placeholder="例如：CEO "
                                   class="layui-input">
                        </div>
                    </div>

                </div>


                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>介绍</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block">
                            <div id="div1"></div>
                            <textarea class="layui-textarea" name="mintroducation" lay-verify="title" id="editor"
                                      style="width: 100%;height: 300px;display: none"></textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <input id="dataid" type="text" name="dataid"
                           class="layui-input layui-hide">
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="add">立即添加</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/project/js/lay-config.js}" charset="utf-8"></script>
<script>

    window.onload = function () {
        let itemid = window.sessionStorage.getItem("itemid")
        $.ajax({
            url: '/RecruiterInfor/getLoginUser',
            type: 'get',
            contentType: 'application/json; charset=UTF-8',
            data: {'id': itemid},
            success: function (res) {
                $("#dataid").val(res.data.dataid)
            }
        })
    }
    var eImage = new Array();
    const E = window.wangEditor
    const editor = new E('#div1')
    const $text1 = $('#editor')
    editor.config.menus = [
        'head',
        'bold',
        'fontSize',
        'fontName',
        'italic',
        'underline',
        'strikeThrough',
        'indent',
        'lineHeight',
        'foreColor',
        'backColor',
        'link',
        'list',
        'todo',
        'justify',
        'quote',
        'table',
        'code',
        'splitLine',
        'undo',
        'redo',
    ]
    editor.config.onchange = function (html) {
        $text1.val(html)
    }
    editor.create()
    $text1.val(editor.txt.html())
    layui.use(['form', 'layedit', 'laydate', 'upload', 'element'], function () {
        var form = layui.form,
            layer = layui.layer,
            element = layui.element,
            upload = layui.upload;

        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '不允许为空';
                }
            },
            required: function (value) {
                if (value.length < 1) {
                    return '不允许为空';
                }
            }
        });
        var logoPath;
        var uploadInst = upload.render({
            elem: '#test1'
            , url: 'http://localhost:18011/img/upload'
            , accept: 'images'
            , size: 50000
            , dragDrop: true                  // 是否可以拖动上传文件
            , before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result);
                });
                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 0});
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');
                logoPath = res.data.src
                console.log(logoPath)
                $("#logoimage").val(res.data.src)
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
            , progress: function (n, index, e) {
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                if (n == 100) {
                    layer.msg('上传完毕', {icon: 1});
                }
            }
        });

        form.on('submit(add)', function (data) {
            var itemid = window.sessionStorage.getItem('itemid');
            if (itemid === null) {
                layer.alert("登录失效!!!,请登录")
            } else {
                const team = JSON.stringify(data.field)
                $.ajax({
                        url: '/insert/teamInfo',
                        type: 'post',
                        contentType: 'application/json; charset=UTF-8',
                        async: false,
                        dataType: "json",
                        data: team,
                        success: function (res) {
                            console.log(res)
                            if (res.status === 0) {
                                layer.msg("发布成功")
                            } else {
                                layer.msg("发布失败")
                            }
                        }
                    }
                )
            }

        });
    })

</script>

</body>
</html>