<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑公司信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/public.css}" media="all">
    <script th:src="@{/project/js/wangEditor.min.js}"></script>
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
</head>
<style type="text/css">
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <blockquote class="layui-elem-quote layui-text">
            编辑管理者信息
        </blockquote>

        <div style="margin-top: 10px;">

            <form class="layui-form" action="">

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">管理者名称</label>
                        <div class="layui-input-block">
                            <input id="mname" type="text" name="mname" lay-verify="title"
                                   autocomplete="off" placeholder="请输入管理者名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">职位描述</label>
                        <div class="layui-input-block">
                            <input id="pmintroducation" type="text" name="pmintroducation" lay-verify="title"
                                   autocomplete="off" placeholder="例如：CEO "
                                   class="layui-input">
                        </div>
                    </div>

                </div>


                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>介绍</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block">
                            <div id="div1"></div>
                            <textarea class="layui-textarea" name="mintroducation" lay-verify="title" id="mintroducation"
                                      style="width: 100%;height: 300px;" disabled></textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <input id="dataid" type="text" name="dataid" class="layui-input layui-hide">
                    <input id="mids" type="text" name="mids" class="layui-input layui-hide">
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="update">立即修改</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/project/js/lay-config.js}" charset="utf-8"></script>
<script>
    function delHtmlTag(str) {
        return str.replace(/<[^>]+>/g, "");//去掉所有的html标记
    }
    window.onload = function () {
        let itemid = window.sessionStorage.getItem("itemid")
        $.ajax({
            url: '/RecruiterInfor/getLoginUser',
            type: 'get',
            contentType: 'application/json; charset=UTF-8',
            data: {'id': itemid},
            success: function (res) {
                $("#dataid").val(res.data.dataid)

                $.ajax({
                    url: '/get/teamInfo',
                    type: 'get',
                    contentType: 'application/json; charset=UTF-8',
                    data: {'dataid': res.data.dataid},
                    success: function (res) {
                        $("#mname").val(res.data.mname)
                        $("#mids").val(res.data.mids)
                        $("#mintroducation").val(res.data.mintroducation)
                        $("#pmintroducation").val(delHtmlTag(res.data.pmintroducation))
                    }
                })
            }
        })
    }
    layui.use(['form', 'layedit', 'laydate', 'upload', 'element'], function () {
        var form = layui.form,
            layer = layui.layer,
            element = layui.element,
            upload = layui.upload;

        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '不允许为空';
                }
            },
            required: function (value) {
                if (value.length < 1) {
                    return '不允许为空';
                }
            }
        });


        form.on('submit(update)', function (data) {
            const team = JSON.stringify(data.field)
            $.ajax({
                    url: '/update/teamInfo',
                    type: 'post',
                    contentType: 'application/json; charset=UTF-8',
                    async: false,
                    dataType: "json",
                    data: team,
                    success: function (res) {
                        console.log(res)
                        if (res.status === 0) {
                            layer.msg("修改成功")
                        } else {
                            layer.msg("修改失败")
                        }
                    }
                }
            )

        });
    })

</script>

</body>
</html>