<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公司</title>
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/companyList.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/swiper-3.4.2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
    <script type="text/javascript" th:src="@{/project/js/swiper-3.4.2.min.js}"></script>
</head>
<body>
<div th:replace="public/head :: head"></div>

<div class="container-fluid">

    <!--搜索框-->
    <div class="row">
        <div class="search-wrapper col-md-12">
            <div class="search-box">
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="搜索公司名" id="title"
                           aria-describedby="basic-addon2">
                    <button type="button" class="layui-btn layui-btn-normal" id="basic-addon2" onclick="f()">搜 索
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ul class="filter-wrapper">
                <!--工作地点-->
                <li class="choose">
                    <span class="title">工作地点:</span>
                    <a class="choose-list"  href="#" onclick="place('北京'); return false ">北京</a>
                    <a class="choose-list"  href="#" onclick="place('上海'); return false ">上海</a>
                    <a class="choose-list"  href="#" onclick="place('广州'); return false ">广州</a>
                    <a class="choose-list"  href="#" onclick="place('深圳'); return false ">深圳</a>
                    <a class="choose-list"  href="#" onclick="place('杭州'); return false ">杭州</a>
                    <a class="choose-list"  href="#" onclick="place('苏州'); return false ">苏州</a>
                    <a class="choose-list"  href="#" onclick="place('南京'); return false ">南京</a>
                    <a class="choose-list"  href="#" onclick="place('成都'); return false ">成都</a>
                    <a class="choose-list"  href="#" onclick="place('西安'); return false ">西安</a>
                    <a class="choose-list"  href="#" onclick="place('长沙'); return false ">长沙</a>
                    <a class="choose-list"  href="#" onclick="place('武汉'); return false ">武汉</a>
                    <a class="choose-list"  href="#" onclick="place('重庆'); return false ">重庆</a>
                    <a class="choose-list"  href="#" onclick="place('南宁'); return false ">南宁</a>
                    <a class="choose-list"  href="#" onclick="place('青岛'); return false ">青岛</a>
                    <a class="choose-list"  href="#" onclick="place('郑州'); return false ">郑州</a>
                    <a class="choose-list"  href="#" onclick="place('合肥'); return false ">合肥</a>
                    <a class="choose-list"  href="#" onclick="place('惠州'); return false ">惠州</a>
                    <a class="choose-list"  href="#" onclick="place('福州'); return false ">福州</a>
                    <a class="choose-list"  href="#" onclick="place('大连'); return false ">大连</a>
                </li>
                <!--融资阶段-->
                <li class="choose">
                    <span class="title">融资阶段:</span>
                    <a class="choose-list" href="#" onclick="financingstage('未融资'); return false ">未融资</a>
                    <a class="choose-list" href="#" onclick="financingstage('天使轮'); return false ">天使轮</a>
                    <a class="choose-list" href="#" onclick="financingstage('A轮'); return false   ">A轮</a>
                    <a class="choose-list" href="#" onclick="financingstage('B轮'); return false   ">B轮</a>
                    <a class="choose-list" href="#" onclick="financingstage('C轮'); return false   ">C轮</a>
                    <a class="choose-list" href="#" onclick="financingstage('D轮及以上'); return false   ">D轮及以上</a>
                    <a class="choose-list" href="#" onclick="financingstage('上市公司'); return false   ">上市公司</a>
                    <a class="choose-list" href="#" onclick="financingstage('不需要融资'); return false  ">不需要融资</a>

                </li>
                <!--公司规模-->
                <li class="choose">
                    <span class="title">公司规模:</span>
                    <a class="choose-list" href="#" onclick="numberofworkers('少于15人'); return false   ">少于15人</a>
                    <a class="choose-list" href="#" onclick="numberofworkers('15-50人'); return false   ">15-50人 </a>
                    <a class="choose-list" href="#" onclick="numberofworkers('50-150人 '); return false   ">50-150人 </a>
                    <a class="choose-list" href="#" onclick="numberofworkers('150-500人'); return false   ">150-500人</a>
                    <a class="choose-list" href="#" onclick="numberofworkers('500-2000人'); return false    ">500-2000人</a>
                    <a class="choose-list" href="#" onclick="numberofworkers('2000人以上'); return false   ">2000人以上</a>
                </li>
                <!--行业领域-->
                <li class="choose">
                    <span class="title">行业领域:</span>
                    <a class="choose-list" href="#" onclick="category('移动互联网'); return false ">移动互联网</a>
                    <a class="choose-list" href="#" onclick="category('消费生活'); return false ">消费生活</a>
                    <a class="choose-list" href="#" onclick="category('企业服务'); return false ">企业服务</a>
                    <a class="choose-list" href="#" onclick="category('电商'); return false ">电商</a>
                    <a class="choose-list" href="#" onclick="category('金融'); return false ">金融</a>
                    <a class="choose-list" href="#" onclick="category('教育'); return false ">教育</a>
                    <a class="choose-list" href="#" onclick="category('游戏'); return false ">游戏</a>
                    <a class="choose-list" href="#" onclick="category('硬件'); return false ">硬件</a>
                    <a class="choose-list" href="#" onclick="category('社交'); return false ">社交</a>
                    <a class="choose-list" href="#" onclick="category('旅游'); return false ">旅游</a>
                    <a class="choose-list" href="#" onclick="category('体育'); return false ">体育</a>
                    <a class="choose-list" href="#" onclick="category('汽车'); return false ">汽车</a>
                    <a class="choose-list" href="#" onclick="category('物流'); return false ">物流</a>
                    <a class="choose-list" href="#" onclick="category('医疗'); return false ">医疗</a>
                </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div id="target" style="min-height: 250px">
        <div class="row" style="margin-top:15px;" >
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row" id="content">
                    <div class="col-md-3" th:each="l,status:${list}">
                        <div class="com-infos">
                            <div class="com-img">
                                <img style="width: 80px;height: 80px;"
                                     th:src="@{${'http://localhost:18011/'+l.logoimage}}"/>
                                <div><a th:href="@{/company/companyInfo(eId=${l.eid},menutab=2)}"
                                        class="company-profile-name" th:text="${l.ename}"></a></div>
                                <div class="company-profile">
                                    <span th:text="${l.category}+'/'"></span>
                                    <span th:text="${l.financingstage}+'/'"></span>
                                    <span th:text="${l.numberofworkers}"></span>

                                </div>
                                <div class="company-profile" style="color: #555555;font-weight: 600"
                                     th:text="${l.signlanguage}"></div>
                                <div style="display: flex;border-top: 1px dashed #E0E0E0;margin-top: 15px;margin-left: 15px">
                                    <a class="url" th:text="${'官网链接:'+l.eurl}" th:href="${l.eurl}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>


    <!--page bar-->
    <div class="" th:if="${list.getPageNum() le list.getPages()}" id="pagebar">
        <div class="pagerow " th:if="${list.pages<10}">
            <ul id="menu">
                <li th:if="${list.pageNum}>1"><a class="page-btn"
                                                 th:href="@{/company/companyList(pageNum=${list.pageNum}-1,pageSize=${list.pageSize},menutab=2)}">&lt;</a>
                </li>
                <li th:each="num : ${#numbers.sequence(1,list.pages)}">
                    <a th:classappend="page-btn" th:text="${num}"
                       th:class="${list.pageNum eq num ? 'page-btn-active':''}"
                       th:href="@{/company/companyList(pageNum=${num},pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum lt list.pages}">
                    <a class="page-btn"
                       th:href="@{/company/companyList(pageNum=${list.pageNum}+1,pageSize=${list.pageSize},menutab=2)}">&gt;</a>
                </li>
            </ul>
        </div>

        <div class="pagerow" th:if="${list.pages>10}">
            <ul id="menu">
                <li th:if="${list.pageNum}>1"><a class="page-btn"
                                                 th:href="@{/company/companyList(pageNum=${list.pageNum}-1,pageSize=${list.pageSize},menutab=2)}">&lt;</a>
                </li>
                <li th:if="${list.pageNum-8 gt 1}"><a class="page-btn" th:text="${list.pageNum-9}"
                                                      th:href="@{/company/companyList(pageNum=${list.pageNum}-9,pageSize=${list.pageSize})}"></a>
                </li>
                <li th:if="${list.pageNum-7 gt 1}"><a class="page-btn" th:text="${list.pageNum-8}"
                                                      th:href="@{/company/companyList(pageNum=${list.pageNum}-8,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum-6 gt 1}"><a class="page-btn" th:text="${list.pageNum-7}"
                                                      th:href="@{/company/companyList(pageNum=${list.pageNum}-7,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum-5 gt 1}"><a class="page-btn" th:text="${list.pageNum-6}"
                                                      th:href="@{/company/companyList(pageNum=${list.pageNum}-6,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum-4 gt 1}"><a class="page-btn" th:text="${list.pageNum-5}"
                                                      th:href="@{/company/companyList(pageNum=${list.pageNum}-5,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum-3 gt 1}"><a class="page-btn" th:text="${list.pageNum-4}"
                                                      th:href="@{/company/companyList(pageNum=${list.pageNum}-4,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum-2 gt 1}"><a class="page-btn" th:text="${list.pageNum-3}"
                                                      th:href="@{/company/companyList(pageNum=${list.pageNum}-3,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum-1 gt 1}"><a class="page-btn" th:text="${list.pageNum-2}"
                                                      th:href="@{/company/companyList(pageNum=${list.pageNum}-2,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum gt 1}"><a class="page-btn" th:text="${list.pageNum-1}"
                                                    th:href="@{/company/companyList(pageNum=${list.pageNum}-1,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum le list.pages}"><a th:classappend="page-btn"
                                                             th:class="${list.pageNum le list.pages ? 'page-btn-active':''}"
                                                             th:text="${list.pageNum}"
                                                             th:href="@{/company/companyList(pageNum=${list.pageNum},pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum+1 lt list.pages}"><a class="page-btn" th:text="${list.pageNum+1}"
                                                               th:href="@{/company/companyList(pageNum=${list.pageNum}+1,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum+2 lt list.pages}"><a class="page-btn" th:text="${list.pageNum+2}"
                                                               th:href="@{/company/companyList(pageNum=${list.pageNum}+2,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum+3 lt list.pages}"><a class="page-btn" th:text="${list.pageNum+3}"
                                                               th:href="@{/company/companyList(pageNum=${list.pageNum}+3,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum+4 lt list.pages}"><a class="page-btn" th:text="${list.pageNum+4}"
                                                               th:href="@{/company/companyList(pageNum=${list.pageNum}+4,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum+5 lt list.pages}"><a class="page-btn" th:text="${list.pageNum+5}"
                                                               th:href="@{/company/companyList(pageNum=${list.pageNum}+5,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum+6 lt list.pages}"><a class="page-btn" th:text="${list.pageNum+6}"
                                                               th:href="@{/company/companyList(pageNum=${list.pageNum}+6,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum+7 lt list.pages}"><a class="page-btn" th:text="${list.pageNum+7}"
                                                               th:href="@{/company/companyList(pageNum=${list.pageNum}+7,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum+8 lt list.pages}"><a class="page-btn" th:text="${list.pageNum+8}"
                                                               th:href="@{/company/companyList(pageNum=${list.pageNum}+8,pageSize=${list.pageSize},menutab=2)}"></a>
                </li>
                <li th:if="${list.pageNum lt list.pages}"><a class="page-btn"
                                                             th:href="@{/company/companyList(pageNum=${list.pageNum}+1,pageSize=${list.pageSize},menutab=2)}">&gt;</a>
                </li>
                <li>
            </ul>
        </div>
    </div>


</div>

<div th:replace="public/bottom :: bottom"></div>
<script type="text/javascript" th:src="@{/component/jquery3.5.1/jquery.min.js}"></script>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/component/bootstrap4.5.2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/component/login.js}"></script>
</body>
<script>
    function f() {
        let title = $("#title").val()
        $.get("/company/companyList",
            {
                "title": title,
                "menutab": 2
            }, function (resp) {
                $("#target").empty();
                var content = $(resp).find("#content").html()
                if (content.trim() === '') {
                    div_object = document.createElement('p');
                    div_object.id = 'div_id'
                    div_object.innerHTML = "暂无数据!!!"
                    div_object.style.fontSize = "20px"
                    div_object.style.color = "#999999"
                    div_object.style.letterSpacing = "10px"
                    div_object.style.fontWeight = "600"
                    div_object.style.marginTop = "20px"
                    div_object.style.textAlign = "center"
                    document.getElementById('target').append(div_object)
                    document.getElementById('pagebar').style.display="none"
                } else {
                    $("#target").append($(resp).find("#target"));
                    document.getElementById('pagebar').style.display="none"
                }

            }, "html");
    }

    function place(p) {
        $.get("/company/companyList",
            {
                "place": p,
                "menutab": 2
            }, function (resp) {
                $("#target").empty();
                var content = $(resp).find("#content").html()
                if (content.trim() === '') {
                    div_object = document.createElement('p');
                    div_object.id = 'div_id'
                    div_object.innerHTML = "暂无数据!!!"
                    div_object.style.fontSize = "20px"
                    div_object.style.color = "#999999"
                    div_object.style.letterSpacing = "10px"
                    div_object.style.fontWeight = "600"
                    div_object.style.marginTop = "20px"
                    div_object.style.textAlign = "center"
                    document.getElementById('target').append(div_object)
                    document.getElementById('pagebar').style.display="none"
                } else {
                    $("#target").append($(resp).find("#target"));
                    document.getElementById('pagebar').style.display="block"
                }
            }, "html");
    }

    function financingstage(f) {
        $.get("/company/companyList",
            {
                "financingstage": f,
                "menutab": 2
            }, function (resp) {
                $("#target").empty();
                var content = $(resp).find("#content").html()
                if (content.trim() === '') {
                    div_object = document.createElement('p');
                    div_object.id = 'div_id'
                    div_object.innerHTML = "暂无数据!!!"
                    div_object.style.fontSize = "20px"
                    div_object.style.color = "#999999"
                    div_object.style.letterSpacing = "10px"
                    div_object.style.fontWeight = "600"
                    div_object.style.marginTop = "20px"
                    div_object.style.textAlign = "center"
                    document.getElementById('target').append(div_object)
                    document.getElementById('pagebar').style.display="none"
                } else {
                    $("#target").append($(resp).find("#target"));
                    document.getElementById('pagebar').style.display="block"
                }
            }, "html");
    }


    function numberofworkers(n) {
        $.get("/company/companyList",
            {
                "numberofworkers": n,
                "menutab": 2
            }, function (resp) {
                $("#target").empty();
                var content = $(resp).find("#content").html()
                if (content.trim() === '') {
                    div_object = document.createElement('p');
                    div_object.id = 'div_id'
                    div_object.innerHTML = "暂无数据!!!"
                    div_object.style.fontSize = "20px"
                    div_object.style.color = "#999999"
                    div_object.style.letterSpacing = "10px"
                    div_object.style.fontWeight = "600"
                    div_object.style.marginTop = "20px"
                    div_object.style.textAlign = "center"
                    document.getElementById('target').append(div_object)
                    document.getElementById('pagebar').style.display="none"
                } else {
                    $("#target").append($(resp).find("#target"));
                    document.getElementById('pagebar').style.display="block"
                }
            }, "html");
    }

    function category(c) {
        $.get("/company/companyList",
            {
                "category": c,
                "menutab": 2
            }, function (resp) {
                $("#target").empty();
                var content = $(resp).find("#content").html()
                if (content.trim() === '') {
                    div_object = document.createElement('p');
                    div_object.id = 'div_id'
                    div_object.innerHTML = "暂无数据!!!"
                    div_object.style.fontSize = "20px"
                    div_object.style.color = "#999999"
                    div_object.style.letterSpacing = "10px"
                    div_object.style.fontWeight = "600"
                    div_object.style.marginTop = "20px"
                    div_object.style.textAlign = "center"
                    document.getElementById('target').append(div_object)
                    document.getElementById('pagebar').style.display="none"
                } else {
                    $("#target").append($(resp).find("#target"));
                    document.getElementById('pagebar').style.display="block"
                }
            }, "html");
    }


</script>
</html>