<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公司信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/companyInfo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/component/bootstrap4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/project/css/swiper-3.4.2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="Shortcut Icon" th:href="@{/project/images/Y.svg}">
    <script type="text/javascript" th:src="@{/project/js/swiper-3.4.2.min.js}"></script>
</head>
<body>
<div th:replace="public/head :: head"></div>

<div class="container-fluid">
    <!--头部-->
    <div class="row" style="height: 220px;background:#f2f5f4;">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-top: 35px">
            <div class="wrapper">
                <img class="com-img-big"
                     th:src="@{${'http://localhost:18011/'+#strings.substring(companyInfoData.logoimage,16)}}">
                <div style="margin-top: 15px;margin-left: 15px;width: 100%">
                    <div class="company-name" th:text="${companyInfoData.ename}"></div>
                    <div class="slogan" th:text="${companyInfoData.signlanguage}"></div>
                    <div class="company-data">
                        <ul class="ul-bg">
                            <li>
                                <span class="tip" th:text="${companyInfoData.positionnum}+'个'"></span>
                                <span class="c-info">岗位招聘数量</span>
                            </li>
                            <li>
                                <span class="tip">145份</span>
                                <span class="c-info">岗位面试评价</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>


    <div class="row" style="margin-top: 15px">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="display: flex">
            <!--左边-->
            <div class="data-left">
                <!--公司介绍-->
                <div class="companyProfile" th:text="${companyInfoData.ename}+'介绍'"></div>
                <div class="company_content">
                    <span th:utext="${companyInfoData.eintroducation}">
                        </span>
                </div>
                <!--公司环境图片-->
                <div style="width: 1070px">
                    <div style="margin-top: 30px;height: 402px;border-radius: 2PX" class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img style="height: 100%;width: 100%"
                                                           th:src="@{${'http://localhost:18011/'+companyInfoData.eimage1}}">
                            </div>
                            <div class="swiper-slide"><img style="height: 100%;width: 100%"
                                                           th:src="@{${'http://localhost:18011/'+companyInfoData.eimage2}}">
                            </div>
                            <div class="swiper-slide"><img style="height: 100%;width: 100%"
                                                           th:src="@{${'http://localhost:18011/'+companyInfoData.eimage3}}">
                            </div>
                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <!--招聘职位-->
                <div class="companyProfile" style="margin-top: 15px;" >在招职位</div>
                <div th:each="p:${companyInfoData.positioninfoDTOList}">
                    <div class="recruitment">
                        <div>
                            <span class="recruitment-place" th:text="${p.ptitle}"></span>
                            <span class="recruitment-place" style="float: right"  th:text="${p.departments}"></span>
                        </div>
                        <div style="margin-top: 15px;">
                            <span style="color: #fc703e"  th:text="${p.salary}"></span>
                            <span class="recruitment-info"  th:text="${p.experience}"></span>
                            <span style="color: #999999;margin-right: 15px">|</span>
                            <span class="recruitment-info"  th:text="${p.education}"></span>
                            <span style="color: #D0D4DA;float: right;font-size: 16px"  th:text="${#dates.format(p.releasetime,'yyyy-MM-dd')+'发布'}"></span>
                        </div>
                    </div>
                </div>

            </div>
            <!--右边-->
            <div style="margin-left: 15px">
                <div>
                    <span class="com-title" th:text="${companyInfoData.ename}+'基本信息'"></span>
                    <div class="company-info-r" th:text="'人数：'+${companyInfoData.numberofworkers}"></div>
                    <div class="company-info-r" th:text="'领域：'+${companyInfoData.category}"></div>
                    <div class="company-info-r" th:text="'地点：'+${#strings.abbreviate(companyInfoData.eplace,20)}"></div>
                    <div class="company-info-r">
                        <span>直达：
                            <a th:text="${companyInfoData.eurl}" th:href="${companyInfoData.eurl}" style="color: #999999"></a></span>
                    </div>
                </div>
                <div style="margin: 30px 0;">
                    <span>管理团队</span>
                    <p class="manager-s-name" th:text="${companyInfoData.managementTeamDTO.mname}"></p>
                    <p class="manager_job_description" th:text="${companyInfoData.managementTeamDTO.pmintroducation}"></p>
                    <div class="manager-desc" th:utext="${companyInfoData.managementTeamDTO.mintroducation}">

                    </div>
                </div>
                <div>
                    <span class="com-title">公司福利</span>
                    <div style="margin-top: 15px">
                        <ul class="com-ul-tag">
                            <li class="com-li-tag" th:text="${companyInfoData.benefit1}"></li>
                            <li class="com-li-tag" th:text="${companyInfoData.benefit2}"></li>
                            <li class="com-li-tag" th:text="${companyInfoData.benefit3}"></li>
                            <li class="com-li-tag" th:text="${companyInfoData.benefit4}"></li>
                            <li class="com-li-tag" th:text="${companyInfoData.benefit5}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div th:replace="public/bottom :: bottom"></div>


<script>
    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 4000,//可选选项，自动滑动 10000ms
        loop: true, // 循环模式选项
    })
</script>

<script type="text/javascript" th:src="@{/component/jquery3.5.1/jquery.min.js}"></script>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/component/bootstrap4.5.2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/component/login.js}"></script>


</body>
</html>