body {
    overflow-x: hidden;
    color: #555555;
    font-size: 16px;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial, "Helvetica Neue", Helvetica;
}

.job-name {
    margin: 0 0 13px
}

.position-wrapper-name {
    max-width: 492px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    height: 48px;
    font-size: 36px;
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.labels {
    float: left;
    height: 22px;
    margin-right: 8px;
    padding: 0 10px;
    line-height: 22px;
    background-color: #fff;
    color: #70797b;
    font-size: 12px;
    border-radius: 10px
}

.position-left-data {
    min-height: 960px;
    box-shadow: 8px 0 4px -4px #f5f5f5;
}

.pos-title {
    margin: 15px 0;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    background-color: #fff
}

.job-detail {
    padding: 15px 0 10px;
    color: #333;
    word-wrap: break-word
}

.interview-evaluation {
    margin-top: 15px;
    color: #000;
    font-size: 24px;
    padding-right: 16px;
    background-color: #fff
}

.rate {
    margin-right: 20px;
    float: left;
    font-size: 15px;
    color: #999999;
}

.star {
    margin-left: 10px;
    margin-top: 10px;
}

.interview-tag {
    color: #999999;
    float: left;
    padding: 1px 10px;
    margin-right: 10px;
    border: 1px solid #dce4e6;
    border-radius: 15px;
    font-size: 12px
}

.comment {
    border-bottom: 1px dashed #dce4e6;
    height: 185px
}

.comment-content {
    color: #555555;
    text-indent: 32px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 这里是超出几行省略 */
    overflow: hidden;
}

.com-title {
    height: 28px;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    background-color: #fff
}

.company-info-r {
    text-indent: 20px;
    word-break: break-word;
    margin-top: 15px;
    color: #999999;
}

legend {
    max-width: fit-content !important;
    width: fit-content !important;
    display: inline !important;
    margin-bottom: 0 !important;
}

.p-hide {
    display: none;
}
.p-show{
    display: flex;
}